body{
	background-color: rgb(255, 214, 153);
	background-attachment: fixed;
	background-repeat: no-repeat;
	border: black solid 4px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  border: 2px solid white;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right:2px solid white;
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: white;
}
.topnav a.split{
  float: right;
}
.header{
  background-color: white;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'Tilt Prism', cursive;
  padding: 20px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.fnt{
  font-family: 'Tilt Neon', cursive;
  font-size: 17.5px;
}
.btn {
  background-color: orange;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  border-radius: 30px;
}

.btn:hover {
  opacity: 1;
}